* {
    box-sizing: border-box;
    font-size: 1.1rem;
}
.app {
    width: 15rem;
    height: 22rem;
    margin: 3rem auto 0 auto;
    /*padding: 0.3rem;*/
    border-style: solid;
    border-radius: 1rem;
}

#keyboard {
    width: 14rem;
    margin: 0 auto;
}

button {
    width: 3rem;
    height: 3rem;
    margin: 0.13rem;
}
.line {
}

input {
    display: block;
    width: 14rem;
    height: 3.5rem;
    margin: 0.3rem auto 1rem auto ;
    border-style: solid;
    border-radius: 0.6rem;
    text-align: right;
}