* {
    box-sizing: border-box;
}
.app {
    width: 37vh;
    min-width: 250px;
    height: 55vh;
    min-height: 350px;
    margin: 5vh auto 0 auto;
    padding: 1.2vh;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
}
button {
    width: 20%;
    height: 20%;
    min-height: 46px;
    margin: 1.7%;
}
.line {
}
input {
    width: 100%;
    min-width: 220px;
    height: 7vh;
    min-height: 46px;
    margin-bottom: 3vh;
    border-style: solid;
    border-radius: 10px;
    text-align: right;
}